@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/**
Sections header
**/
@media (max-width: 800px){
  .section-header{
    flex-direction: column;
  }
}
.section-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  border: 2px solid #E1F5FE;
  font-family: 'Bebas Neue', cursive;
  font-size: 65px;
  font-weight: 700;
  text-transform:uppercase;
  color:#236B8E;
  background:linear-gradient(180deg, black, red 75%, white) ;
}
